h1 {
  color: darkslategray;
  text-align: center;
  font-weight: bold;
  font-size 40px;
}
h2 {
  color: slategray;
  text-align: center;
  font-weight: bold;
  font-size 30px;
}

p {
  font-family:Georgia;
  color: gray;
}
.center-image
{
  /*
  can't seem to center the dang thing
  */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 20px black;
  padding: 20px;
  margin: 20px;
  width: 250px;
  align-self: center;
}
body
{
  color: gray;
  font-family: Georgia;
}

.numbered-list
{
  color: blue;
}

.link-explanation
{
  line-height: 1.5;
  color: darkblue;

}